# Conversion functions:Converts one integer format to another integer format

# bin():converts given value to binary format

In [20]:
a=25#decimal to binary
print(bin(a))

0b11001

# Converts given value to octal format

In [21]:
a=25
print(oct(a))

0o31

# Converts given value to hexadecimal format

In [22]:
a=255
print(hex(a))

0xff

# Built-in datatypes

In [23]:
#range:Prints values from start to end-1
a=range(1,11)
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

# Byte datatype:Used to represent sequence of byte values from 0 to 255

In [24]:
st=[65,66,67,68,69]
b=bytes(st)
print(st)
print(b)

[65, 66, 67, 68, 69]
b'ABCDE'

In [25]:
print(type(b))

<class 'bytes'>

# bytearray datatype:Similar to byte datatype,but it is mutable object

In [26]:
st1=[65,66,67,68,69]
x=bytearray(st1)
print(st1)
print(x)

[65, 66, 67, 68, 69]
bytearray(b'ABCDE')

In [27]:
print(type(x))

<class 'bytearray'>

# frozenset datatype:Similar to set, but is immutable

In [28]:
s={10,20,30,40}#set
print(s)

{40, 10, 20, 30}

In [29]:
print(type(s))

<class 'set'>

In [30]:
s.add(25)#can be added, it is mutable
print(s)

{40, 10, 20, 25, 30}

In [31]:
fs=frozenset(s)
fs

frozenset({10, 20, 25, 30, 40})

# input():used to take input from the user

In [34]:
a=input("Enter num")
b=input("Enter str")
c=input("Enter float")
print(a,b,c)

Enter num12
Enter strBhavana
Enter float14.67
12 Bhavana 14.67

In [35]:
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

# Another method to read the input

In [38]:
a,b,c=[int(x) for x in input("Enter a nums").split()]
print(a,b,c)

Enter a nums1 4 6
1 4 6

In [39]:
x,y,z=[float(x) for x in input("Enter float values").split()]
print(x,y,z)

Enter float values12.5 56.76 89.0
12.5 56.76 89.0