In [1]:
emp_info={'name':'Devi','surname':'basa','num':'LE1','compamy':'Wipro','native':'Vijayawada','salary':90000}

In [ ]:
#syntax to create a dictionary
#Var_name={'key1':val1,'key2':val2....'keyn':valn}

In [2]:
print(emp_info)

{'name': 'Devi', 'surname': 'basa', 'num': 'LE1', 'compamy': 'Wipro', 'native': 'Vijayawada', 'salary': 90000}

In [3]:
#to read the value
#syntax:var_name['key_name']

In [5]:
print(emp_info['surname'])

basa

In [6]:
#appending the information to the dictionary

In [7]:
emp_info['age']=20

In [8]:
print(emp_info)

{'name': 'Devi', 'surname': 'basa', 'num': 'LE1', 'compamy': 'Wipro', 'native': 'Vijayawada', 'salary': 90000, 'age': 20}

In [1]:
emp_info={'name':'Devi','surname':'basa','num':'LE1','compamy':'Wipro','native':'Vijayawada','salary':90000}

In [2]:
emp_info

{'name': 'Devi',
 'surname': 'basa',
 'num': 'LE1',
 'compamy': 'Wipro',
 'native': 'Vijayawada',
 'salary': 90000}

In [3]:
#nested dictionary
#to enter data in more readable format
#basically a list inside the dictionary

In [4]:
emp_info1={'name':'bhavana','surname':'basa','address':{'area':'pipul road','city':'Vijayawada','dist':'NTR'}}

In [5]:
emp_info1

{'name': 'bhavana',
 'surname': 'basa',
 'address': {'area': 'pipul road', 'city': 'Vijayawada', 'dist': 'NTR'}}

In [7]:
#inside a dictionary a tuple,list,booleans can also be stored
emp_info1={'name':'bhavana','surname':'basa','address':{'area':'pipul road','city':'Vijayawada','dist':'NTR'},'is_acc_act':True,'home_location':(1234,5678),'roles':['Devloper','ADMIN','Support']}

In [9]:
#to retrive the information from the nested dictionary
print(emp_info1['address']['area'])

pipul road

In [11]:
print(emp_info1['roles'][2])

Support

In [16]:
#list of dictionaries
garments=[
    {
        'name':'Garment1',
        'price':9000,
        'discount':45
    },
    {
        'name':'Garment2',
        'price':4500,
        'discount':12
    }
]

In [17]:
#to retrive the data
print(garments[0]['name'])

Garment1

In [19]:
#updating the list of dictionaries

garments[0]['price']=8700

In [20]:
garments

[{'name': 'Garment1', 'price': 8700, 'discount': 45},
 {'name': 'Garment2', 'price': 4500, 'discount': 12}]

In [21]:
garments[0]['sizes']=['XL','XXL']

In [22]:
garments

[{'name': 'Garment1', 'price': 8700, 'discount': 45, 'sizes': ['XL', 'XXL']},
 {'name': 'Garment2', 'price': 4500, 'discount': 12}]