In [1]:
courses={"Python","AI","ML","DL","Java","Oracle"}
courses

{'AI', 'DL', 'Java', 'ML', 'Oracle', 'Python'}

In [2]:
#set:unordered,immutable collection of unique items
#mainly used to remove duplicates

# Adding & Removing Methods

In [4]:
#add() adds new value to the set
#adds new value at random position
courses.add('Statistics')
courses

{'AI', 'DL', 'Java', 'ML', 'Oracle', 'Python', 'Statistics'}

In [5]:
#remove() removes element from the set
courses.remove('AI')
courses

{'DL', 'Java', 'ML', 'Oracle', 'Python', 'Statistics'}

In [7]:
#if element doesn't exists it throws an error
courses.remove('SQL')
courses

KeyError: 'SQL'

In [8]:
#discard() same as remove but doesnt throws error
courses.discard('DL')
courses

{'Java', 'ML', 'Oracle', 'Python', 'Statistics'}

In [9]:
courses.discard('SQL')
courses

{'Java', 'ML', 'Oracle', 'Python', 'Statistics'}

In [11]:
#removes some random element in the set
courses.pop()
courses

{'ML', 'Python', 'Statistics'}

In [12]:
#clears all the elements in the set
courses2={"R","C","C++"}
courses2.clear()
courses2

set()

# Set Operations

In [13]:
#union() combines two sets and returns a new set
frontend={'html','css','react'}
backend={'spring','boot','java'}

In [15]:
fullstack=frontend.union(backend)
fullstack

{'boot', 'css', 'html', 'java', 'react', 'spring'}

In [20]:
#intersection() returns common values from both the sets
data_analytics={'Python','NumPy','Excel'}
data_science={'Python','NumPy','Excel','DL','AI','ML'}

In [21]:
common_courses=data_analytics.intersection(data_science)
common_courses

{'Excel', 'NumPy', 'Python'}

In [22]:
#difference() returns elements available in 1st set but not from 2nd
difference=data_analytics.difference(data_science)
difference

set()

In [24]:
#symmetric_difference() returns elements that are not common in both the sets
unique=data_analytics.symmetric_difference(data_science)
unique

{'AI', 'DL', 'ML'}